// FONTS
$font-regular: 400;
$font-light: 300;
$font-bold: 600;

// COLORS
$background: #F0F4F5;
$disabled: #868686;
$faded: #E6E6E6;
$faded1: #D6D6D6;
$faded2: #B6B6B6;
$dark: #191919;
$mix: #666666;
$light: #ffffff;
$wrong: #f44336;
$darker-wrong: #5A130B;

$theme: #E2653E;